<%- include('layouts/breadcrumbs.ejs') %>

<div class="title-page">Catégories</div>

<div class="body-container">
    <div class="grid-categories">
        <% if(categories != "") { %>
            <% categories.forEach(function(category, index) { %>
                <a href="/categories/<%- category.code %>">
                    <div class="card-category">
                        <div class="card-picture">
                            <img src="pictures/categories/<%- category.image %>" alt="<%- category.name %>">
                        </div>
                        <div class="card-details">
                            <div class="card-name"><%- category.name %></div>
                            <div class="card-description"><%- category.description %></div>
                        </div>
                    </div>
                </a>
            <% }); %>
        <% } %>
        <!--<a href="/categories/toast">
            <div class="card-category">
                <div class="card-picture">
                    <img src="pictures/categories/toast.jpg" alt="Tartines">
                </div>
                <div class="card-details">
                    <div class="card-name">Tartines</div>
                    <div class="card-description">Belles tartines !</div>
                </div>
            </div>
        </a>
        <a href="/categories/salad">
            <div class="card-category">
                <div class="card-picture">
                    <img src="pictures/categories/salad.jpg" alt="Salades">
                </div>
                <div class="card-details">
                    <div class="card-name">Salades</div>
                    <div class="card-description">Belles salades !</div>
                </div>
            </div>
        </a>
        <a href="/categories/bread">
            <div class="card-category">
                <div class="card-picture">
                    <img src="pictures/categories/bread.jpg" alt="Pains">
                </div>
                <div class="card-details">
                    <div class="card-name">Pains</div>
                    <div class="card-description">Beaux pains !</div>
                </div>
            </div>
        </a>
        <a href="/categories/salad">
            <div class="card-category">
                <div class="card-picture">
                    <img src="pictures/categories/salad.jpg" alt="Salades">
                </div>
                <div class="card-details">
                    <div class="card-name">Tartines</div>
                    <div class="card-description">Belles tartines !</div>
                </div>
            </div>
        </a>
        <a href="/categories/salad">
            <div class="card-category">
                <div class="card-picture">
                    <img src="pictures/categories/salad.jpg" alt="Salades">
                </div>
                <div class="card-details">
                    <div class="card-name">Tartines</div>
                    <div class="card-description">Belles tartines !</div>
                </div>
            </div>
        </a>
        <a href="/categories/salad">
            <div class="card-category">
                <div class="card-picture">
                    <img src="pictures/categories/salad.jpg" alt="Salades">
                </div>
                <div class="card-details">
                    <div class="card-name">Tartines</div>
                    <div class="card-description">Belles tartines !</div>
                </div>
            </div>
        </a>-->
    </div>
</div>